.review-container{
    display: flex;
}

.shipping-container{
    width: 60%;
    margin-left: 50px;
}

.shipping-container input{
    width: 250px;
}

.place-order{
   height: 40px;
   width: 200px;
   background-color: goldenrod;
   border-radius: 8px;
   color: white; 
}

.ship-form input{
    display: block;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.error{
    color: red;
}

.payment{
    padding-right: 300px;
}