.header-top{
    display: flex;
    margin: 10px 50px;
}

.logo{ 
    width: 75%;
}

.logo img{
    height: 80px;
}

.link{
    padding-top: 20px;
    padding-left: 10px;
}

.link nav a{
    padding: 20px;
    text-decoration: none;
}

.cartLength{
    color: red;
    font-weight: 700;
    font-size: large;
}

.header-mid{
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-image: url('../../banner.jpg');
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
}

.header-mid h1{
    padding-top: 30px;
}

.header-bottom nav{
    text-align: center;
    margin: 10px;
}

.header-bottom nav a{
    padding-right: 30px;
    text-decoration: none;
}